# PEXELS_API_KEY= # No longer primary, replaced by Sora
SORA_API_KEY= # Your Azure Sora API Key (Mandatory)
SORA_API_ENDPOINT= # Your Azure Sora API Endpoint (Mandatory)
LOG_LEVEL=trace # trace, debug, info, warn, error, fatal, silent
WHISPER_VERBOSE=true
PORT=3123
DEV=true # local development mode
DATA_DIR_PATH= # only for docker, otherwise leave empty
